<h1>Welcome to Teacher Portal</h1>

<% if @teacher_item.any? %>
  <ul>
    <% @teacher_item.each do |course| %>
      <li><%=course.title %></li>
      <!-- Add more details as needed -->
    <% end %>
  </ul>
<% else %>
  <p>No course found.</p>
<% end %>
