<h1>Welcome To SAT-Portal</h1>
<h3>Courses We Offer:</h3>
<% if @courses.any? %>
  <ul>
    <% @courses.each do |course| %>
      <li><%= course.title %></li>
      <!-- Add more details as needed -->
    <% end %>
  </ul>
<% else %>
  <p>No courses found.</p>
<% end %>
